.DS_Store
.env
*.log
.vscode/
.idea/
*.pyc
__pycache__/

Thumbs.db
desktop.ini

# For Node.js (bot folder)
bot/node_modules/
bot/package-lock.json
bot/dist/
bot/build/
bot/.env

# For Python (bot-api folder)
bot-api/__pycache__/
bot-api/.venv/
bot-api/venv/
bot-api/*.pyc
bot-api/.env
bot-api/env/
bot-api/*.log

.venv/
venv/


coverage/
*.coverage
.cache/
pytest_cache/
.bot-api/.pytest_cache/


*.swp
*.swo
*.bak

.git/
